@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color:white;
  font-family: 'Poppins', sans-serif; 
  /* font-family: 'Inter', sans-serif; */
}

.hero-section {
  padding: auto;
  height: 100vh;
  background-image: url(../public/istockphoto-803149430-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}


.announcement-section {
  padding: auto;
  height: auto;
  background-image: url(../public/anoucement.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.about-section {
  padding: auto;
  height: auto;
  background-image: url(../public/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.gallery {
  padding: auto;
  height: auto;
   background-image: url(../public/rm422-076-x.jpg);
 
  background-size: cover;
  background-repeat: no-repeat;

}






